{% extends 'scheme.html' %}
{% block title %}PAge not Found{% endblock %}
{% block content %}
<div class='container'>
    <div class='hero-box row'>

        <div class='col-12 '>
            <img class="img-fluid object slide-right" id='slide-in' data-value='-2' src="https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/0ee75478-f3b6-4661-6973-489444152b00/heroObjectLeft">
            <img class="img-fluid object slide-right" id='slide-in' data-value='6' src="https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/33135f82-65f1-4d37-6a07-6cb5a0e73b00/heroObjectLeft">
        </div>
        
        <h1 class='object' style='Z-index: 2;color: rgb(175, 175, 220);' data-value='-7'>Page Not Found</h1>
    </div>

  </div>
{% endblock %}