
{% extends 'scheme.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class='container'>
    <div class='blog-box'> 
        <div class='row'>
            <div class='col-12 col-md-6'>
                <h1 class='h1-1'> About Me </h1>
                <p class='p-p'>
                    I'm Josh, a passionate developer with a love for all things Python and web development. My coding journey began two years ago when I took classes in college, and since then, it's been full steam ahead! I quickly fell in love with the world of coding, and I haven't looked back since.
                </p>
                <p class='p-p'>
                    Over time, I've expanded my skill set to include Django, CSS, HTML, and JavaScript. These technologies have allowed me to create dynamic and engaging websites that bring ideas to life.
                </p>
                <p class='p-p'>
                    Currently, I'm on an exciting path of building websites for people while embracing continuous learning. Every day presents an opportunity to explore new technologies, master programming techniques, and find innovative solutions to real-world challenges.
                </p>
                <p class='p-p'>
                    This blog is my way of sharing my experiences, insights, and discoveries as I navigate the ever-evolving landscape of web development. As I grow and learn, I want to inspire and empower other developers on their own coding journeys.
                </p>
                <p class='p-p'>
                    Whether you're a beginner or a seasoned developer, you'll find valuable tutorials, tips, and code examples here that can help you enhance your skills and build remarkable applications.
                </p>
                <p class='p-p'>
                    Join me as we unravel the complexities of Python, delve into the power of Django, and unlock the secrets of CSS, HTML, and JavaScript. Together, we'll embark on a journey of exploration, creativity, and continuous growth.
                </p>
            </div>
            <div class='col-6'>
                <img class='img-fluid rounded-2' src='https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/75165b66-1b5d-428a-79e9-6edf5dad4700/public'>
            </div>
        </div>
    </div>
</div>

{% endblock %}