{% extends 'scheme.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class='container'>
    <div class='header-box mt-4 mb-4'>
        <h1 class='h1-1 text-center'>Change Password</h1>
    </div>
    <div class='blog-box'>
        <div class="form-group">
            <form method=POST>
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn-cust btn-cust-color">Change</button>
            </form>
        </div>
        <button class="btn-cust btn-cust-color" onclick="window.location.href='{% url 'edit-profile' %}'">Back</button>
    </div>
</div>
{% endblock %}