
{% extends 'scheme.html' %}
{% block title %}{{blog.title }} {% endblock %}
{% block content %}

    <div class='container'>
        <div class='mt-4 mb-4'></div>
        <div class='row'>
            <div class='col-12 text-center mt-2 mb-4'>
                <h2 class='blog-title-text'>{{ blog.title }}
            </div>
            <div class='col-12 text-center'>
                <div class='blog-image img-fluid' style="background-image: linear-gradient(to top, #d0cfd010 30%, #2a2a2a78 100%), url({{ blog.image_url }})" ></div>
            </div>
            <div class='col-12 mt-2 mb-4 text-center'>
                <br/>
                <p class='blog-details-text'>
                    Writen by: {{ blog.author }} | Posted: {{ blog.time_stamp }}
                </p>
                <p class='blog-meta-text'>Category: {{blog.category}}</p>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <div class='blog-box'>
                <div class='col-12'>
                    <p class='p-p'>{{ blog.article|safe }}</p>
                </div>
                {% if user.is_authenticated %}
                {% if user.id == blog.author.id %}
                <button class="btn-cust btn-cust-color" onclick="window.location.href='{% url 'blog-edit' blog.pk %}'">Edit</button>
                <button class="btn-cust btn-cust-color" onclick="window.location.href='{% url 'blog-delete' blog.pk %}'">Delete</button>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class='mt-4 mb-4 text-center' id='buttonCall'>
        <div class='col-12'>
        <button class='btn-cust btn-cust-color' onclick='showComments()'>Show comments</button>
        </div>
    </div>

    <div class='container' id='commentSection' style='display: none'>
        <div class='mt-4 mb-4'>
            <h2 class='h2-2 text-center'>Comments</h2>
        </div>
        <div class='row blog-box'>
            {% if user.is_authenticated %}
            <div class='col-12'>
                <h3>Leave a comment</h3>
                <h2 class='h2-2' id='validated' style='display: none'>Message submited for review by admin.</h2>
                <form method="post" class='small-box form-group' id='NewCommentForm'>
                    {% csrf_token %}
                    <div class='row'>
                        <div class='col-6'>
                            <p>Member: {{ user.username}}</p>
                            <p>Email: {{ user.email}}</p>
                        </div>
                        <div class='col-6'>
                            <img class='rounded-circle icon-image-comment' src='{{ user.profile.icon.icon}}'>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-12 col-md-2 g-2'>
                            <input text='text' name="{{ comment_form.user_id.html_name }}" value={{user.id}} class="form-control" hidden>
                            </br>
                            <input type="text" name="{{ comment_form.name.html_name }}" value={{user.username}} class="form-control" hidden>
                            
                            <input type="email" name="{{ comment_form.email.html_name }}" value={{user.email}} class="form-control" hidden>
                        </div>
                        <div class='col-12'>
                            <label for="{{ comment_form.comment.id_for_label }}">Comment:</label>
                            <textarea class="form-control" id="{{ comment_form.comment.id_for_label.id_for_label }}" name="{{comment_form.comment.html_name}}"></textarea>
                        </div>
                    </div>
                    <div class='row mt-2'>
                        <div class='col-12 col-align-self-end'>
                            <button class="btn-cust btn-cust-color" id='submitBtn'>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
                </br>
            </div>

            {% else %}
            <div class='col-12'>
                <h3>Leave a comment</h3>
                <h2 class='h2-2' id='validated' style='display: none'>Message submited for review by admin.</h2>
                <form method='post' class='small-box form-group' id='NewCommentForm'>
                    {% csrf_token %}
                        <label for="{{ comment_form.name.id_for_label }}">Your Name:</label>
                        <input type="text" id="{{ comment_form.name.id_for_label }}" name="{{ comment_form.name.html_name }}" class="form-control">
                        <label for="{{ comment_form.email.id_for_label }}">Your Email:</label>
                        <input type="email" id="{{ comment_form.email.id_for_label }}" name="{{ comment_form.email.html_name }}" class="form-control">
                        <input text='text' name="{{ comment_form.user_id.html_name }}" value='2' class="form-control" hidden>
                        <label for="{{ comment_form.comment.id_for_label }}">Comment:</label>
                        <textarea class="form-control" id="{{ comment_form.comment.id_for_label.id_for_label }}" name="{{comment_form.comment.html_name}}"></textarea>
                    <button class="btn-cust btn-cust-color" id='submitBtn'>
                        Submit
                    </button>
                </form>
                </br>
            </div>
            {% endif %}
            
            {% if not blog.comments.all %}
            <div class='col-12'>
                <h3 class='h3-3'> 0 comments </h3>
            </div>
            {% else %}
            <div class='col-12'>
                {% for comment in comments %}
                    <div class='small-box'>
                        <div class='row'>
                            <div class='col-6'>
                                <p class='p-p'>Commented by: {{ comment.name }}
                                <br/>
                                    Date posted: {{ comment.time_stamp }}
                                <br/>
                                Comment:
                                </p>
                            </div>
                            <div class='col-6'>
                                <img class='rounded-circle icon-image-comment' src='{{ comment.user_id.profile.icon.icon }}'>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-12'>
                                <p class='p-p'>{{ comment.comment }}</p>
                            </div>
                        </div>
                    </div>
                <br/>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <script>
        function showComments() {
            var commentsOn = document.getElementById('commentSection');
            var buttonOff = document.getElementById('buttonCall');
            commentsOn.style.display = 'block';
            buttonOff.style.display = 'none';
        };
    </script>
{% endblock %}